.list-container {
  height: 200px;
  width: 180px;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.app-image {
  width: 40%;
}
